# Copyright (c) 2023 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

source "Kconfig.zephyr"

mainmenu "Bluetooth: TTL ISO Sender"

config TTL_GPIO_POLLING_INTERVAL_MS
	int "Interval in milliseconds between each GPIO polling"
	range 1 1000
	default 100
	help
	  Only poll the GPIO once in a given interval of ISO packets.

config TTL_STATE_PRINT_INTERVAL
	int "Interval between each packet report in ISO packets"
	range 1 1000
	default 100
	help
	  Only print the ttl state report after each N packet.
