/*
 * Copyright (c) 2019, Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

// remove existing pwm LEDs dt configuration
/ {
	aliases {
		/delete-property/ pwm-led0;
		/delete-property/ pwm-led1;
		/delete-property/ pwm-led2;
		/delete-property/ red-pwm-led;
		/delete-property/ green-pwm-led;
		/delete-property/ blue-pwm-led;

		/delete-property/ green_pwm_led;
	};
	/delete-node/ pwmleds;
};

// create new configuration
/ {
	pwmleds {
		compatible = "pwm-leds";
		pwm_red: pwm_led0 {
			pwms = <&pwm0 0 PWM_SEC(1) PWM_POLARITY_NORMAL>;
		};
		pwm_yellow: pwm_led1 {
			pwms = <&pwm0 1 PWM_SEC(1) PWM_POLARITY_NORMAL>;
		};
		pwm_white: pwm_led2 {
			pwms = <&pwm0 2 PWM_SEC(1) PWM_POLARITY_NORMAL>;
		};
	};
};	

&pwm0_default {
	// use GPIO pins which are also available on the DONGLE
	group1 {
		psels = 
			<NRF_PSEL(PWM_OUT0, 1, 10)>, 
			<NRF_PSEL(PWM_OUT1, 1, 13)>,
			<NRF_PSEL(PWM_OUT2, 1, 15)>;
		
		// remove nordic,invert property,
		// otherwise the GPIO will be high if the PWM is disconnected
		/delete-property/ nordic,invert;
	};
};

&i2c0 {
	status = "okay";
};

&i2c0_default {
	// use GPIO are also available on the DONGLE
	group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 20)>,
				<NRF_PSEL(TWIM_SCL, 0, 22)>;
		};
};
