/*
 * Copyright (c) 2019, Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

// remove existing pwm LEDs dt configuration
/ {
	aliases {
		/delete-property/ pwm-led0;
	};
	/delete-node/ pwmleds;
};

// create new configuration
/ {
	pwmleds {
		compatible = "pwm-leds";
		pwm_break: pwm_led0 {
			pwms = <&pwm0 0 PWM_SEC(1) PWM_POLARITY_INVERTED>;
		};
		pwm_dirpointer: pwm_led1 {
			pwms = <&pwm0 1 PWM_SEC(1) PWM_POLARITY_INVERTED>;
		};
		pwm_reverse: pwm_led2 {
			pwms = <&pwm0 2 PWM_SEC(1) PWM_POLARITY_INVERTED>;
		};
		pwm_drive: pwm_led3 {
			pwms = <&pwm0 3 PWM_SEC(1) PWM_POLARITY_INVERTED>;
		};
	};
};

&pwm0_default {
	group1 {
		psels = 
			<NRF_PSEL(PWM_OUT0, 0, 13)>, 
			<NRF_PSEL(PWM_OUT1, 0, 14)>,
			<NRF_PSEL(PWM_OUT2, 0, 15)>,
			<NRF_PSEL(PWM_OUT3, 0, 16)>;
		nordic,invert;
	};
};